/* ================
 imported link url 
================== */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* ================
 Commmon css  
================== */

:root{
    --primary-color: rgb(45, 45, 243);
    --hover-color: rgb(31, 142, 202);
    --black-color: rgb(24, 23, 23);
    --white-color: rgb(255,255,255);
    --underline-bg: rgb(122, 131, 159);
}
body{
    font-family: 'Rubik', sans-serif;
}

/* ================
 header part start 
================== */
.hero-bg{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(249, 33, 141,.9), rgba(108, 25, 246,.8)), url(../images/bg-head.jpg) no-repeat ;
    background-size: cover;
}
.nav-link:hover{
    border-bottom: solid 2px var(--hover-color);
 }
 #name{
    font-size: 3.3rem;
    text-shadow: 2px 2px 3px var(--hover-color);
 }
.pic{
    height: 270px;
    width: 250px;
    background-image: url(../images/sr.jpg);
    background-size: cover;
    border: solid 2px rgb(119, 17, 123);
    border-radius: 60px 10px ;
    box-shadow:2px 2px 5px white, -2px -2px 5px white;
}
.pic:hover{
    box-shadow: 2px 2px 8px var(--hover-color), -2px -2px 8px var(--hover-color);
    transition:linear 0.7s 0s  ;
}
.icons{
    color: var(--black-color);
}
.icons:hover{
    color: var(--hover-color);
    transition: ease-in 0.5s 0s  ;
}

/* ================
 about me part start 
================== */

.underln{
    height: 2px;
    width: 10%;
    background: var(--underline-bg);
}
/* ================
 my work part start 
================== */

.work{
    background-image: linear-gradient(90deg, rgba(108, 25, 246,.7), rgba(249, 33, 141,.6));
}
.underln2{
    height: 3px;
    width: 8%;
    background: var(--primary-color);
}
.hover-btn:hover{
    color: var(--hover-color);
}

/* ================
 footer part start 
================== */

.ftr-icon{
    color: var(--primary-color);
}
.ftr-icon:hover{
    color: var(--hover-color);
    transition: ease-in 0.5s 0s  ;
}
